# Copy this file to .env and fill in your values
# Railway will auto-inject these from the MySQL service

MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=nmit1234
MYSQLDATABASE=railway_db
